#gatewayList {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eee;
    border: 1px solid #666;
    border-bottom: 0;
    div.port {
        padding: 5px 10px;
        color: black;
        border-bottom: 1px solid #666;
        cursor: pointer;
    }
    div.port:hover {
        background-color: #ccc;
    }
}