#hintbar {
    border-top: solid #666 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: $hintbar-height;
    width: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccddff;
    div>*{
        margin-right: 15px;
    }
    select{
        min-width: 200px;
        margin-right: 2px;
    }
    .online{
        color: green;
    }
    .offline{
        color: red;
    }
}