$animation-slide-duration: 0.2s;
$navbar-font-size: 16px;
$navbar-padding-top: 5px;
$navbar-padding-right: 15px;
$navbar-padding-bottom: 5px;
$navbar-padding-left: 5px;
#navbar {
    display: flex;
    @keyframes slide-left {
        0% {
            width: 100%;
            a {
                padding: $navbar-padding-top $navbar-padding-right $navbar-padding-bottom $navbar-padding-left;
            }
        }
        100% {
            width: 0px;
            a {
                padding: 0px;
            }
        }
    }
    @keyframes slide-right {
        0% {
            width: 0%;
            a {
                padding: 0px;
            }
        }
        100% {
            width: 100%;
            a {
                padding: $navbar-padding-top $navbar-padding-right $navbar-padding-bottom $navbar-padding-left;
            }
        }
    }
    .fade-in {
        animation: slide-right $animation-slide-duration forwards;
        width: 100%;
    }
    .fade-out {
        animation: slide-left $animation-slide-duration forwards;
        width: 0%;
    }
    nav {
        position: relative;
        padding: 0px;
        font-size: $navbar-font-size;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        a {
            padding: 5px 10px;
            color: black;
            border-bottom: 1px solid #666;
        }
        .active {
            background-color: #B7261C;
            color: white;
        }
    }
    aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #eee;
        border-right: 1px solid #666;
    }
    #hider {
        background-color: #eee;
        display: flex;
        border-right: 1px solid black;
        border-left: 1px solid black;
        >img {
            align-self: center;
        }
    }
}