$hintbar-height: 30px;
#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-bottom: $hintbar-height;
    >main {
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: relative;
        overflow: auto;
    }
    >footer {
        border-top: solid black 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        height: $hintbar-height;
        width: 100%;
        padding-left: 5px;
        display: flex;
        justify-content: flex-end;
    }
}